In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('test.csv', index_col="city", nrows=10)
print(df)

#print(grouped3.transform(score))

          enrollee_id  city_development_index  gender
city
city_41         32403                   0.827    Male  \
city_103         9858                   0.920  Female
city_21         31806                   0.624    Male
city_13         27385                   0.827    Male
city_103        27724                   0.920    Male
city_23           217                   0.899    Male
city_21         21465                   0.624     NaN
city_160        27302                   0.920  Female
city_173        12994                   0.878    Male
city_21         16287                   0.624    Male

              relevent_experience enrolled_university education_level
city
city_41   Has relevent experience    Full time course        Graduate  \
city_103  Has relevent experience       no_enrollment        Graduate
city_21    No relevent experience       no_enrollment     High School
city_13   Has relevent experience       no_enrollment         Masters
city_103  Has relevent experience       no_enrollment        Graduate
city_23    No relevent experience    Part time course         Masters
city_21   Has relevent experience       no_enrollment        Graduate
city_160  Has relevent experience       no_enrollment        Graduate
city_173  Has relevent experience       no_enrollment        Graduate
city_21   Has relevent experience    Full time course        Graduate

         major_discipline experience company_size    company_type
city
city_41              STEM          9          <10             NaN  \
city_103             STEM          5          NaN         Pvt Ltd
city_21               NaN         <1          NaN         Pvt Ltd
city_13              STEM         11        10/49         Pvt Ltd
city_103             STEM        >20       10000+         Pvt Ltd
city_23              STEM         10          NaN             NaN
city_21              STEM         <1      100-500         Pvt Ltd
city_160             STEM        >20          NaN             NaN
city_173             STEM         14          NaN             NaN
city_21               NaN          3        50-99  Funded Startup

         last_new_job  training_hours
city
city_41             1              21
city_103            1              98
city_21         never              15
city_13             1              39
city_103           >4              72
city_23             2              12
city_21             1              11
city_160           >4              81
city_173            4               2
city_21             1               4

In [2]:
df1 = pd.read_csv('test.csv', usecols=[1,2,3], nrows=10)
print(df1)

       city  city_development_index  gender
0   city_41                   0.827    Male
1  city_103                   0.920  Female
2   city_21                   0.624    Male
3   city_13                   0.827    Male
4  city_103                   0.920    Male
5   city_23                   0.899    Male
6   city_21                   0.624     NaN
7  city_160                   0.920  Female
8  city_173                   0.878    Male
9   city_21                   0.624    Male

In [3]:
df2 = pd.read_csv('test.csv', usecols=['city'], nrows=10)
print(df2)

       city
0   city_41
1  city_103
2   city_21
3   city_13
4  city_103
5   city_23
6   city_21
7  city_160
8  city_173
9   city_21

In [4]:
f = lambda x : int(x) + 1
df3 = pd.read_csv("test.csv", converters={"training_hours":f}, nrows=10)
print(df3)
print("----------------------------------------")

   enrollee_id      city  city_development_index  gender
0        32403   city_41                   0.827    Male  \
1         9858  city_103                   0.920  Female
2        31806   city_21                   0.624    Male
3        27385   city_13                   0.827    Male
4        27724  city_103                   0.920    Male
5          217   city_23                   0.899    Male
6        21465   city_21                   0.624     NaN
7        27302  city_160                   0.920  Female
8        12994  city_173                   0.878    Male
9        16287   city_21                   0.624    Male

       relevent_experience enrolled_university education_level
0  Has relevent experience    Full time course        Graduate  \
1  Has relevent experience       no_enrollment        Graduate
2   No relevent experience       no_enrollment     High School
3  Has relevent experience       no_enrollment         Masters
4  Has relevent experience       no_enrollment        Graduate
5   No relevent experience    Part time course         Masters
6  Has relevent experience       no_enrollment        Graduate
7  Has relevent experience       no_enrollment        Graduate
8  Has relevent experience       no_enrollment        Graduate
9  Has relevent experience    Full time course        Graduate

  major_discipline experience company_size    company_type last_new_job
0             STEM          9          <10             NaN            1  \
1             STEM          5          NaN         Pvt Ltd            1
2              NaN         <1          NaN         Pvt Ltd        never
3             STEM         11        10/49         Pvt Ltd            1
4             STEM        >20       10000+         Pvt Ltd           >4
5             STEM         10          NaN             NaN            2
6             STEM         <1      100-500         Pvt Ltd            1
7             STEM        >20          NaN             NaN           >4
8             STEM         14          NaN             NaN            4
9              NaN          3        50-99  Funded Startup            1

   training_hours
0              22
1              99
2              16
3              40
4              73
5              13
6              12
7              82
8               3
9               5
----------------------------------------

In [5]:
test_df = pd.read_csv('test.csv')
group_by_gender = test_df.groupby('gender').groups
print(group_by_gender)
print("----------------------------------------")

{'Female': [1, 7, 25, 41, 64, 96, 128, 134, 163, 190, 203, 206, 223, 224, 229, 257, 271, 286, 287, 292, 320, 334, 356, 361, 364, 376, 385, 400, 410, 416, 458, 461, 463, 478, 480, 481, 494, 518, 544, 570, 580, 625, 630, 635, 651, 659, 682, 697, 702, 734, 756, 786, 792, 800, 812, 842, 852, 897, 905, 924, 926, 940, 954, 958, 970, 1014, 1071, 1074, 1092, 1097, 1109, 1113, 1120, 1147, 1156, 1167, 1198, 1208, 1217, 1230, 1256, 1264, 1290, 1313, 1318, 1321, 1333, 1353, 1358, 1373, 1392, 1405, 1426, 1429, 1443, 1455, 1489, 1493, 1537, 1544, ...], 'Male': [0, 2, 3, 4, 5, 8, 9, 10, 11, 12, 16, 17, 19, 22, 23, 24, 26, 27, 31, 33, 34, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 57, 58, 60, 61, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 115, 116, 118, 119, 121, 122, 123, 124, 131, 132, 133, 135, 138, 139, 140, 141, 142, 143, 145, 146, 147, ...], 'Other': [59, 247, 256, 353, 437, 454, 698, 711, 863, 1197, 1224, 1295, 1315, 1361, 1422, 1519, 1636, 1685, 1732, 1823, 2021, 2029, 2043, 2111]}
----------------------------------------

In [6]:
for x in group_by_gender:
    print(x)

Female
Male
Other

In [7]:
group_by_cg = test_df.groupby(['city','gender']).groups
print(group_by_cg)
print("----------------------------------------")

{('city_1', 'Male'): [730, 1764], ('city_10', 'Male'): [627, 826, 1214, 1341, 1444, 1705, 1808, 2045], ('city_10', nan): [294, 533, 1792], ('city_100', 'Female'): [1605], ('city_100', 'Male'): [79, 141, 365, 367, 521, 824, 1278, 1360, 1905, 1948, 1963, 1971, 2126], ('city_100', nan): [486, 875, 1510, 1734, 1922, 1947, 2007], ('city_101', 'Female'): [786], ('city_101', 'Male'): [93, 267, 1387, 2013, 2037, 2046], ('city_101', nan): [581, 693, 1542], ('city_102', 'Male'): [275, 297, 298, 340, 439, 445, 545, 644, 699, 865, 997, 1019, 1168, 1421, 1438, 1492, 1495, 1499, 1536, 1561, 1564, 1677, 1736, 1828, 1853, 2127, 2128], ('city_102', nan): [638, 980, 1159], ('city_103', 'Female'): [1, 25, 41, 96, 224, 320, 361, 416, 458, 461, 580, 625, 651, 659, 682, 697, 792, 897, 940, 1109, 1147, 1217, 1230, 1333, 1392, 1405, 1443, 1537, 1551, 1619, 1663, 1747, 1863, 1936, 1944, 2039, 2047], ('city_103', 'Male'): [4, 10, 23, 27, 31, 36, 44, 52, 78, 88, 90, 94, 109, 116, 119, 133, 139, 147, 153, 167, 168, 171, 183, 187, 188, 205, 208, 209, 214, 228, 236, 245, 252, 261, 265, 280, 282, 285, 299, 302, 311, 312, 317, 319, 327, 329, 339, 342, 350, 351, 371, 374, 378, 379, 384, 390, 392, 402, 403, 405, 408, 409, 419, 424, 425, 426, 429, 433, 447, 456, 467, 471, 483, 484, 495, 496, 499, 507, 513, 526, 528, 536, 540, 569, 587, 591, 604, 607, 614, 616, 617, 623, 629, 636, 655, 656, 672, 680, 684, 687, ...], ('city_103', 'Other'): [59, 256, 863, 1732], ('city_103', nan): [14, 20, 21, 55, 73, 99, 100, 107, 112, 114, 125, 127, 157, 174, 220, 232, 246, 250, 296, 303, 326, 330, 331, 348, 355, 357, 375, 538, 575, 597, 598, 599, 618, 660, 661, 676, 677, 686, 695, 728, 808, 815, 816, 817, 820, 822, 853, 916, 961, 969, 973, 986, 992, 994, 1007, 1087, 1094, 1114, 1148, 1179, 1216, 1269, 1306, 1335, 1344, 1363, 1364, 1369, 1372, 1385, 1396, 1417, 1467, 1476, 1521, 1529, 1541, 1545, 1577, 1582, 1679, 1682, 1687, 1714, 1726, 1796, 1798, 1884, 1933, 1978, 1983, 1985, 1991, 2072, 2102, 2103], ('city_104', 'Male'): [43, 51, 249, 501, 562, 583, 608, 723, 724, 729, 977, 978, 1155, 1181, 1215, 1862, 1906, 1915, 1943, 2012], ('city_104', nan): [386, 648, 793, 844, 1199, 1219, 1339], ('city_105', 'Female'): [203, 1074], ('city_105', 'Male'): [54, 263, 515, 1134, 1294, 1642, 1782], ('city_105', nan): [679, 2001], ('city_106', 'Male'): [1083], ('city_107', 'Male'): [266], ('city_11', 'Male'): [70, 75, 194, 201, 234, 308, 428, 715, 739, 777, 813, 833, 960, 1301, 1674, 2040], ('city_11', nan): [313, 324, 436, 622, 731, 901, 947, 1060, 1449, 1613, 1749, 1813, 1970, 1999], ('city_114', 'Female'): [206, 364, 544, 635, 702, 954, 1748, 1854], ('city_114', 'Male'): [26, 48, 77, 80, 83, 84, 92, 165, 186, 210, 217, 227, 242, 277, 323, 337, 345, 347, 360, 372, 397, 399, 414, 415, 434, 452, 475, 477, 485, 487, 488, 489, 502, 511, 520, 530, 556, 567, 611, 615, 634, 678, 690, 718, 719, 726, 737, 749, 763, 784, 799, 819, 830, 836, 881, 922, 949, 979, 984, 1017, 1045, 1076, 1117, 1145, 1153, 1170, 1178, 1187, 1206, 1222, 1238, 1271, 1286, 1311, 1322, 1324, 1327, 1345, 1348, 1351, 1357, 1403, 1406, 1424, 1491, 1501, 1581, 1602, 1625, 1631, 1633, 1660, 1672, 1673, 1690, 1709, 1750, 1803, 1826, 1835, ...], ('city_114', 'Other'): [1224], ('city_114', nan): [144, 172, 189, 373, 479, 509, 700, 804, 835, 858, 909, 1091, 1124, 1234, 1261, 1487, 1702, 1717, 1743, 1799, 1866, 1892, 1901, 1910, 1912, 1945, 1960, 1977, 2083], ('city_115', 'Female'): [410, 905], ('city_115', 'Male'): [601, 1140, 1667, 1688], ('city_115', nan): [789], ('city_116', 'Female'): [1318], ('city_116', 'Male'): [420, 443, 473, 529, 743, 1210, 1697, 2066, 2073], ('city_116', nan): [32, 571, 1047, 1069, 1203, 1384], ('city_117', nan): [1585], ('city_118', 'Male'): [24, 1265, 2024], ('city_12', 'Male'): [1571], ('city_121', 'Other'): [1315], ('city_123', 'Female'): [734], ('city_123', 'Male'): [362, 783, 796, 880, 1012, 1209, 1262, 1795], ('city_123', nan): [349, 1437], ('city_126', 'Male'): [989, 1031], ('city_127', 'Male'): [1336, 1470], ('city_127', nan): [89, 1465], ('city_128', 'Female'): [1167], ('city_128', 'Male'): [417, 459, 504, 632, 691, 1253, 1350, 1502, 1760], ('city_128', nan): [272, 1231, 1597, 1611], ('city_13', 'Male'): [3, 17, 87, 838, 1107, 1745, 1887, 2025], ('city_13', nan): [63, 549], ('city_133', 'Male'): [1160], ('city_134', 'Male'): [535, 1009, 1655, 1924, 2088, 2112], ('city_134', nan): [28, 148, 713, 761, 1450, 1763, 1780], ('city_136', 'Female'): [1620, 1727], ('city_136', 'Male'): [39, 67, 105, 145, 198, 202, 212, 301, 346, 359, 363, 391, 422, 464, 492, 497, 531, 566, 584, 705, 907, 959, 966, 985, 1011, 1020, 1026, 1054, 1180, 1189, 1204, 1220, 1232, 1282, 1317, 1413, 1428, 1534, 1550, 1568, 1638, 1662, 1765, 1838, 1897, 1904, 2010, 2017, 2077, 2125], ('city_136', nan): [745, 982, 1106, 1110, 1139, 1349, 1671, 1675], ('city_138', 'Male'): [564, 867, 937, 1166, 1205, 1718, 2036, 2118], ('city_138', nan): [772], ('city_139', 'Male'): [101], ('city_14', 'Male'): [613], ('city_141', 'Male'): [1041], ('city_142', 'Male'): [1610], ('city_142', nan): [595], ('city_143', 'Male'): [71, 173, 358, 1535], ('city_143', nan): [117, 1902, 2095], ('city_144', 'Male'): [1653], ('city_145', 'Male'): [1890], ('city_145', nan): [2042], ('city_149', 'Female'): [630, 1290], ('city_149', 'Male'): [155, 237, 574, 576, 1781, 1818, 1821, 1993], ('city_149', nan): [53, 192, 325, 1526, 1644, 1816, 1868, 1938], ('city_150', 'Male'): [161, 243, 781, 1211, 1973, 2080], ('city_150', 'Other'): [1422], ('city_150', nan): [1285, 1522, 1730, 1987], ('city_152', 'Male'): [831, 2064], ('city_152', nan): [328, 974, 1587, 1856], ('city_155', 'Male'): [178, 179], ('city_157', 'Male'): [1694], ('city_158', 'Female'): [958], ('city_158', 'Male'): [537, 975, 1196, 1409, 1731, 1900], ('city_158', nan): [1080], ('city_159', 'Male'): [462, 675, 929, 1099, 1186, 1393, 1441, 1473, 1508, 1664, 1684, 1873, 1979], ('city_159', nan): [1239], ('city_16', 'Female'): [128, 163, 257, 463, 800, 1071, 1198, 1208, 1264, 1313, 1797], ('city_16', 'Male'): [34, 47, 72, 76, 102, 103, 106, 111, 138, 146, 164, 177, 191, 199, 238, 259, 276, 290, 307, 314, 318, 336, 344, 354, 369, 380, 383, 389, 393, 421, 427, 468, 470, 506, 508, 512, 516, 522, 523, 541, 550, 577, 592, 606, 620, 621, 647, 653, 657, 662, 674, 733, 742, 760, 774, 776, 802, 823, 861, 866, 871, 877, 893, 914, 946, 956, 1032, 1059, 1062, 1090, 1096, 1142, 1152, 1157, 1173, 1177, 1188, 1202, 1243, 1284, 1319, 1334, 1337, 1354, 1375, 1380, 1399, 1407, 1411, 1414, 1446, 1459, 1461, 1482, 1485, 1517, 1524, 1525, 1580, 1606, ...], ('city_16', 'Other'): [1519, 1685, 2021, 2111], ('city_16', nan): [130, 291, 498, 568, 593, 640, 666, 764, 788, 850, 963, 991, 1095, 1161, 1401, 1452, 1518, 1590, 1645, 1658, 1659, 1712, 1768, 1865, 1949, 1954, 2062, 2086, 2090, 2107], ('city_160', 'Female'): [7, 400, 1092, 1120, 1156, 1489, 1599, 1752, 1824, 1858, 2078], ('city_160', 'Male'): [42, 46, 61, 74, 143, 152, 162, 166, 193, 196, 207, 222, 284, 309, 411, 442, 532, 578, 585, 701, 725, 746, 762, 765, 768, 803, 807, 848, 859, 889, 890, 892, 913, 921, 1003, 1056, 1073, 1126, 1127, 1131, 1132, 1133, 1137, 1138, 1185, 1218, 1225, 1279, 1314, 1347, 1404, 1415, 1416, 1435, 1456, 1469, 1480, 1483, 1503, 1530, 1543, 1614, 1719, 1867, 1869, 1877, 1888, 1957, 1964, 1967, 1968, 2004, 2006, 2008, 2035, 2056, 2100], ('city_160', 'Other'): [711, 1197, 1295, 1823, 2029], ('city_160', nan): [113, 226, 321, 558, 671, 1029, 1075, 1276, 1386, 1394, 1505, 1622, 1656, 1691, 1769, 1972, 1986, 1994, 2030, 2067], ('city_162', 'Male'): [561, 582, 837, 1135, 1328, 1553, 1596, 1634, 1946, 2105], ('city_162', 'Other'): [2043], ('city_162', nan): [253, 1507, 1831], ('city_165', 'Female'): [1615], ('city_165', 'Male'): [156, 251, 338, 1586, 1680], ('city_165', 'Other'): [437], ('city_165', nan): [35, 160], ('city_167', 'Male'): [182], ('city_167', nan): [1195], ('city_171', 'Male'): [534], ...}
----------------------------------------

In [8]:
for c, g in group_by_cg:
    print(c, g)

city_1 Male
city_10 Male
city_10 nan
city_100 Female
city_100 Male
city_100 nan
city_101 Female
city_101 Male
city_101 nan
city_102 Male
city_102 nan
city_103 Female
city_103 Male
city_103 Other
city_103 nan
city_104 Male
city_104 nan
city_105 Female
city_105 Male
city_105 nan
city_106 Male
city_107 Male
city_11 Male
city_11 nan
city_114 Female
city_114 Male
city_114 Other
city_114 nan
city_115 Female
city_115 Male
city_115 nan
city_116 Female
city_116 Male
city_116 nan
city_117 nan
city_118 Male
city_12 Male
city_121 Other
city_123 Female
city_123 Male
city_123 nan
city_126 Male
city_127 Male
city_127 nan
city_128 Female
city_128 Male
city_128 nan
city_13 Male
city_13 nan
city_133 Male
city_134 Male
city_134 nan
city_136 Female
city_136 Male
city_136 nan
city_138 Male
city_138 nan
city_139 Male
city_14 Male
city_141 Male
city_142 Male
city_142 nan
city_143 Male
city_143 nan
city_144 Male
city_145 Male
city_145 nan
city_149 Female
city_149 Male
city_149 nan
city_150 Male
city_150 Other
city_150 nan
city_152 Male
city_152 nan
city_155 Male
city_157 Male
city_158 Female
city_158 Male
city_158 nan
city_159 Male
city_159 nan
city_16 Female
city_16 Male
city_16 Other
city_16 nan
city_160 Female
city_160 Male
city_160 Other
city_160 nan
city_162 Male
city_162 Other
city_162 nan
city_165 Female
city_165 Male
city_165 Other
city_165 nan
city_167 Male
city_167 nan
city_171 Male
city_173 Male
city_173 nan
city_175 Male
city_176 Female
city_176 Male
city_176 nan
city_179 Male
city_180 nan
city_19 Female
city_19 Male
city_19 nan
city_2 Male
city_2 nan
city_20 Male
city_20 nan
city_21 Female
city_21 Male
city_21 nan
city_23 Female
city_23 Male
city_23 nan
city_24 Male
city_24 nan
city_25 Male
city_26 Male
city_26 Other
city_27 Male
city_27 nan
city_28 Male
city_28 nan
city_30 Female
city_30 Male
city_30 nan
city_31 Male
city_33 Male
city_36 Male
city_36 nan
city_37 Female
city_39 Male
city_40 Female
city_40 Male
city_40 nan
city_41 Male
city_41 nan
city_42 Male
city_43 Male
city_43 nan
city_44 Female
city_44 Male
city_44 nan
city_45 Male
city_45 nan
city_46 Female
city_46 Male
city_46 nan
city_48 nan
city_50 Male
city_50 nan
city_53 Male
city_53 Other
city_54 Male
city_57 Male
city_57 nan
city_61 Female
city_61 Male
city_61 nan
city_64 Female
city_64 Male
city_64 Other
city_64 nan
city_65 Female
city_65 Male
city_65 nan
city_67 Female
city_67 Male
city_67 nan
city_69 Female
city_69 Male
city_70 Male
city_70 nan
city_71 Female
city_71 Male
city_71 Other
city_71 nan
city_72 Male
city_72 nan
city_73 Female
city_73 Male
city_73 nan
city_74 Male
city_74 nan
city_75 Female
city_75 Male
city_75 Other
city_75 nan
city_76 Male
city_76 Other
city_76 nan
city_77 Male
city_77 nan
city_78 nan
city_79 nan
city_80 Female
city_80 Male
city_82 Female
city_83 Male
city_83 nan
city_84 Male
city_89 Female
city_89 Male
city_89 nan
city_9 Male
city_9 nan
city_90 Male
city_90 nan
city_91 Male
city_91 nan
city_93 Male
city_94 Male
city_97 Male
city_97 nan
city_98 Male
city_98 nan
city_99 Female
city_99 Male
city_99 nan

In [9]:
for cg in group_by_cg:
    print(cg)

('city_1', 'Male')
('city_10', 'Male')
('city_10', nan)
('city_100', 'Female')
('city_100', 'Male')
('city_100', nan)
('city_101', 'Female')
('city_101', 'Male')
('city_101', nan)
('city_102', 'Male')
('city_102', nan)
('city_103', 'Female')
('city_103', 'Male')
('city_103', 'Other')
('city_103', nan)
('city_104', 'Male')
('city_104', nan)
('city_105', 'Female')
('city_105', 'Male')
('city_105', nan)
('city_106', 'Male')
('city_107', 'Male')
('city_11', 'Male')
('city_11', nan)
('city_114', 'Female')
('city_114', 'Male')
('city_114', 'Other')
('city_114', nan)
('city_115', 'Female')
('city_115', 'Male')
('city_115', nan)
('city_116', 'Female')
('city_116', 'Male')
('city_116', nan)
('city_117', nan)
('city_118', 'Male')
('city_12', 'Male')
('city_121', 'Other')
('city_123', 'Female')
('city_123', 'Male')
('city_123', nan)
('city_126', 'Male')
('city_127', 'Male')
('city_127', nan)
('city_128', 'Female')
('city_128', 'Male')
('city_128', nan)
('city_13', 'Male')
('city_13', nan)
('city_133', 'Male')
('city_134', 'Male')
('city_134', nan)
('city_136', 'Female')
('city_136', 'Male')
('city_136', nan)
('city_138', 'Male')
('city_138', nan)
('city_139', 'Male')
('city_14', 'Male')
('city_141', 'Male')
('city_142', 'Male')
('city_142', nan)
('city_143', 'Male')
('city_143', nan)
('city_144', 'Male')
('city_145', 'Male')
('city_145', nan)
('city_149', 'Female')
('city_149', 'Male')
('city_149', nan)
('city_150', 'Male')
('city_150', 'Other')
('city_150', nan)
('city_152', 'Male')
('city_152', nan)
('city_155', 'Male')
('city_157', 'Male')
('city_158', 'Female')
('city_158', 'Male')
('city_158', nan)
('city_159', 'Male')
('city_159', nan)
('city_16', 'Female')
('city_16', 'Male')
('city_16', 'Other')
('city_16', nan)
('city_160', 'Female')
('city_160', 'Male')
('city_160', 'Other')
('city_160', nan)
('city_162', 'Male')
('city_162', 'Other')
('city_162', nan)
('city_165', 'Female')
('city_165', 'Male')
('city_165', 'Other')
('city_165', nan)
('city_167', 'Male')
('city_167', nan)
('city_171', 'Male')
('city_173', 'Male')
('city_173', nan)
('city_175', 'Male')
('city_176', 'Female')
('city_176', 'Male')
('city_176', nan)
('city_179', 'Male')
('city_180', nan)
('city_19', 'Female')
('city_19', 'Male')
('city_19', nan)
('city_2', 'Male')
('city_2', nan)
('city_20', 'Male')
('city_20', nan)
('city_21', 'Female')
('city_21', 'Male')
('city_21', nan)
('city_23', 'Female')
('city_23', 'Male')
('city_23', nan)
('city_24', 'Male')
('city_24', nan)
('city_25', 'Male')
('city_26', 'Male')
('city_26', 'Other')
('city_27', 'Male')
('city_27', nan)
('city_28', 'Male')
('city_28', nan)
('city_30', 'Female')
('city_30', 'Male')
('city_30', nan)
('city_31', 'Male')
('city_33', 'Male')
('city_36', 'Male')
('city_36', nan)
('city_37', 'Female')
('city_39', 'Male')
('city_40', 'Female')
('city_40', 'Male')
('city_40', nan)
('city_41', 'Male')
('city_41', nan)
('city_42', 'Male')
('city_43', 'Male')
('city_43', nan)
('city_44', 'Female')
('city_44', 'Male')
('city_44', nan)
('city_45', 'Male')
('city_45', nan)
('city_46', 'Female')
('city_46', 'Male')
('city_46', nan)
('city_48', nan)
('city_50', 'Male')
('city_50', nan)
('city_53', 'Male')
('city_53', 'Other')
('city_54', 'Male')
('city_57', 'Male')
('city_57', nan)
('city_61', 'Female')
('city_61', 'Male')
('city_61', nan)
('city_64', 'Female')
('city_64', 'Male')
('city_64', 'Other')
('city_64', nan)
('city_65', 'Female')
('city_65', 'Male')
('city_65', nan)
('city_67', 'Female')
('city_67', 'Male')
('city_67', nan)
('city_69', 'Female')
('city_69', 'Male')
('city_70', 'Male')
('city_70', nan)
('city_71', 'Female')
('city_71', 'Male')
('city_71', 'Other')
('city_71', nan)
('city_72', 'Male')
('city_72', nan)
('city_73', 'Female')
('city_73', 'Male')
('city_73', nan)
('city_74', 'Male')
('city_74', nan)
('city_75', 'Female')
('city_75', 'Male')
('city_75', 'Other')
('city_75', nan)
('city_76', 'Male')
('city_76', 'Other')
('city_76', nan)
('city_77', 'Male')
('city_77', nan)
('city_78', nan)
('city_79', nan)
('city_80', 'Female')
('city_80', 'Male')
('city_82', 'Female')
('city_83', 'Male')
('city_83', nan)
('city_84', 'Male')
('city_89', 'Female')
('city_89', 'Male')
('city_89', nan)
('city_9', 'Male')
('city_9', nan)
('city_90', 'Male')
('city_90', nan)
('city_91', 'Male')
('city_91', nan)
('city_93', 'Male')
('city_94', 'Male')
('city_97', 'Male')
('city_97', nan)
('city_98', 'Male')
('city_98', nan)
('city_99', 'Female')
('city_99', 'Male')
('city_99', nan)

In [10]:
grouped = test_df.groupby('city')
print(grouped.groups)

{'city_1': [730, 1764], 'city_10': [294, 533, 627, 826, 1214, 1341, 1444, 1705, 1792, 1808, 2045], 'city_100': [79, 141, 365, 367, 486, 521, 824, 875, 1278, 1360, 1510, 1605, 1734, 1905, 1922, 1947, 1948, 1963, 1971, 2007, 2126], 'city_101': [93, 267, 581, 693, 786, 1387, 1542, 2013, 2037, 2046], 'city_102': [275, 297, 298, 340, 439, 445, 545, 638, 644, 699, 865, 980, 997, 1019, 1159, 1168, 1421, 1438, 1492, 1495, 1499, 1536, 1561, 1564, 1677, 1736, 1828, 1853, 2127, 2128], 'city_103': [1, 4, 10, 14, 20, 21, 23, 25, 27, 31, 36, 41, 44, 52, 55, 59, 73, 78, 88, 90, 94, 96, 99, 100, 107, 109, 112, 114, 116, 119, 125, 127, 133, 139, 147, 153, 157, 167, 168, 171, 174, 183, 187, 188, 205, 208, 209, 214, 220, 224, 228, 232, 236, 245, 246, 250, 252, 256, 261, 265, 280, 282, 285, 296, 299, 302, 303, 311, 312, 317, 319, 320, 326, 327, 329, 330, 331, 339, 342, 348, 350, 351, 355, 357, 361, 371, 374, 375, 378, 379, 384, 390, 392, 402, 403, 405, 408, 409, 416, 419, ...], 'city_104': [43, 51, 249, 386, 501, 562, 583, 608, 648, 723, 724, 729, 793, 844, 977, 978, 1155, 1181, 1199, 1215, 1219, 1339, 1862, 1906, 1915, 1943, 2012], 'city_105': [54, 203, 263, 515, 679, 1074, 1134, 1294, 1642, 1782, 2001], 'city_106': [1083], 'city_107': [266], 'city_11': [70, 75, 194, 201, 234, 308, 313, 324, 428, 436, 622, 715, 731, 739, 777, 813, 833, 901, 947, 960, 1060, 1301, 1449, 1613, 1674, 1749, 1813, 1970, 1999, 2040], 'city_114': [26, 48, 77, 80, 83, 84, 92, 144, 165, 172, 186, 189, 206, 210, 217, 227, 242, 277, 323, 337, 345, 347, 360, 364, 372, 373, 397, 399, 414, 415, 434, 452, 475, 477, 479, 485, 487, 488, 489, 502, 509, 511, 520, 530, 544, 556, 567, 611, 615, 634, 635, 678, 690, 700, 702, 718, 719, 726, 737, 749, 763, 784, 799, 804, 819, 830, 835, 836, 858, 881, 909, 922, 949, 954, 979, 984, 1017, 1045, 1076, 1091, 1117, 1124, 1145, 1153, 1170, 1178, 1187, 1206, 1222, 1224, 1234, 1238, 1261, 1271, 1286, 1311, 1322, 1324, 1327, 1345, ...], 'city_115': [410, 601, 789, 905, 1140, 1667, 1688], 'city_116': [32, 420, 443, 473, 529, 571, 743, 1047, 1069, 1203, 1210, 1318, 1384, 1697, 2066, 2073], 'city_117': [1585], 'city_118': [24, 1265, 2024], 'city_12': [1571], 'city_121': [1315], 'city_123': [349, 362, 734, 783, 796, 880, 1012, 1209, 1262, 1437, 1795], 'city_126': [989, 1031], 'city_127': [89, 1336, 1465, 1470], 'city_128': [272, 417, 459, 504, 632, 691, 1167, 1231, 1253, 1350, 1502, 1597, 1611, 1760], 'city_13': [3, 17, 63, 87, 549, 838, 1107, 1745, 1887, 2025], 'city_133': [1160], 'city_134': [28, 148, 535, 713, 761, 1009, 1450, 1655, 1763, 1780, 1924, 2088, 2112], 'city_136': [39, 67, 105, 145, 198, 202, 212, 301, 346, 359, 363, 391, 422, 464, 492, 497, 531, 566, 584, 705, 745, 907, 959, 966, 982, 985, 1011, 1020, 1026, 1054, 1106, 1110, 1139, 1180, 1189, 1204, 1220, 1232, 1282, 1317, 1349, 1413, 1428, 1534, 1550, 1568, 1620, 1638, 1662, 1671, 1675, 1727, 1765, 1838, 1897, 1904, 2010, 2017, 2077, 2125], 'city_138': [564, 772, 867, 937, 1166, 1205, 1718, 2036, 2118], 'city_139': [101], 'city_14': [613], 'city_141': [1041], 'city_142': [595, 1610], 'city_143': [71, 117, 173, 358, 1535, 1902, 2095], 'city_144': [1653], 'city_145': [1890, 2042], 'city_149': [53, 155, 192, 237, 325, 574, 576, 630, 1290, 1526, 1644, 1781, 1816, 1818, 1821, 1868, 1938, 1993], 'city_150': [161, 243, 781, 1211, 1285, 1422, 1522, 1730, 1973, 1987, 2080], 'city_152': [328, 831, 974, 1587, 1856, 2064], 'city_155': [178, 179], 'city_157': [1694], 'city_158': [537, 958, 975, 1080, 1196, 1409, 1731, 1900], 'city_159': [462, 675, 929, 1099, 1186, 1239, 1393, 1441, 1473, 1508, 1664, 1684, 1873, 1979], 'city_16': [34, 47, 72, 76, 102, 103, 106, 111, 128, 130, 138, 146, 163, 164, 177, 191, 199, 238, 257, 259, 276, 290, 291, 307, 314, 318, 336, 344, 354, 369, 380, 383, 389, 393, 421, 427, 463, 468, 470, 498, 506, 508, 512, 516, 522, 523, 541, 550, 568, 577, 592, 593, 606, 620, 621, 640, 647, 653, 657, 662, 666, 674, 733, 742, 760, 764, 774, 776, 788, 800, 802, 823, 850, 861, 866, 871, 877, 893, 914, 946, 956, 963, 991, 1032, 1059, 1062, 1071, 1090, 1095, 1096, 1142, 1152, 1157, 1161, 1173, 1177, 1188, 1198, 1202, 1208, ...], 'city_160': [7, 42, 46, 61, 74, 113, 143, 152, 162, 166, 193, 196, 207, 222, 226, 284, 309, 321, 400, 411, 442, 532, 558, 578, 585, 671, 701, 711, 725, 746, 762, 765, 768, 803, 807, 848, 859, 889, 890, 892, 913, 921, 1003, 1029, 1056, 1073, 1075, 1092, 1120, 1126, 1127, 1131, 1132, 1133, 1137, 1138, 1156, 1185, 1197, 1218, 1225, 1276, 1279, 1295, 1314, 1347, 1386, 1394, 1404, 1415, 1416, 1435, 1456, 1469, 1480, 1483, 1489, 1503, 1505, 1530, 1543, 1599, 1614, 1622, 1656, 1691, 1719, 1752, 1769, 1823, 1824, 1858, 1867, 1869, 1877, 1888, 1957, 1964, 1967, 1968, ...], 'city_162': [253, 561, 582, 837, 1135, 1328, 1507, 1553, 1596, 1634, 1831, 1946, 2043, 2105], 'city_165': [35, 156, 160, 251, 338, 437, 1586, 1615, 1680], 'city_167': [182, 1195], 'city_171': [534], 'city_173': [8, 124, 448, 493, 546, 643, 841, 1457, 1463, 1500, 1569, 1807, 1881, 1997, 2121], 'city_175': [683, 753, 2057], 'city_176': [175, 756, 1052, 1478, 1481], 'city_179': [382], 'city_180': [1932], 'city_19': [68, 91, 288, 334, 1272, 1346, 1624, 1837, 2052, 2068], 'city_2': [1330, 1468, 1751], 'city_20': [1410, 1773], 'city_21': [2, 6, 9, 15, 16, 18, 19, 22, 29, 33, 38, 45, 56, 66, 81, 85, 97, 98, 115, 118, 121, 126, 129, 137, 140, 142, 154, 169, 176, 180, 181, 190, 197, 200, 204, 211, 213, 218, 219, 221, 223, 225, 233, 235, 241, 260, 264, 268, 271, 278, 283, 286, 287, 304, 315, 322, 335, 341, 343, 352, 368, 385, 388, 412, 413, 430, 431, 435, 444, 446, 449, 450, 455, 465, 472, 474, 482, 490, 491, 494, 510, 553, 555, 559, 565, 570, 579, 586, 588, 590, 596, 600, 602, 605, 609, 612, 619, 633, 645, 650, ...], 'city_23': [5, 292, 370, 376, 395, 626, 945, 1097, 1254, 1289, 1338, 1433, 1513, 1547, 1850, 2063], 'city_24': [845, 1008, 1641, 1648, 2096, 2099, 2110], 'city_25': [603], 'city_26': [698, 721, 1010, 1893], 'city_27': [104, 377, 539, 637, 642, 1616, 1941, 2027, 2079], 'city_28': [50, 62, 158, 195, 273, 505, 551, 573, 767, 782, 894, 1141, 1292, 1395, 1497, 1567, 1584, 1630, 1676, 1686, 1833, 2094], 'city_30': [215, 333, 1623, 1959], 'city_31': [65], 'city_33': [649, 673], 'city_36': [255, 407, 438, 769, 811, 879, 1258, 1283, 1447, 1512, 1609, 1665, 1812, 1895, 2023, 2109], 'city_37': [1373], 'city_39': [274], 'city_40': [300, 925, 1024, 1035, 1305, 1455, 1494, 1528, 1572, 1800, 1810, 1896], 'city_41': [0, 150, 239, 423, 557, 806, 902, 1692, 1713], 'city_42': [1575], 'city_43': [1044, 1325], 'city_44': [149, 478, 2117], 'city_45': [40, 460, 476, 1150, 1174, 1213, 1398, 1418, 1464, 1578, 1601, 1647, 1870, 1992, 2089], 'city_46': [12, 457, 560, 759, 852, 856, 923, 962, 999, 1028, 1115, 1182, 1277, 1331, 1515, 1635], 'city_48': [918], 'city_50': [404, 441, 542, 543, 547, 624, 944, 1240, 1359, 1458, 1559, 1689, 2076], 'city_53': [681, 1361, 1683], 'city_54': [832], 'city_57': [230, 270, 610, 716, 872, 1332, 1998], 'city_61': [37, 122, 135, 244, 356, 394, 398, 572, 654, 758, 798, 812, 846, 847, 915, 1149, 1280, 1298, 1303, 1516, 1532, 1552, 1603, 2051], 'city_64': [64, 136, 254, 453, 454, 518, 795, 876, 970, 1600, 1907, 1990], 'city_65': [293, 387, 451, 554, 589, 707, 727, 860, 972, 981, 998, 1146, 1171, 1374, 1431, 1511, 1708, 1827, 1832, 2014], 'city_67': [82, 110, 248, 279, 281, 406, 440, 466, 469, 500, 519, 594, 641, 709, 714, 754, 895, 920, 939, 1048, 1058, 1070, 1077, 1119, 1256, 1340, 1356, 1423, 1544, 1696, 1754, 1759, 1771, 1777, 1787, 1815, 1861, 1894, 1916], 'city_69': [134, 240, 1016], 'city_70': [131, 366, 732, 887, 2119], 'city_71': [108, 123, 353, 527, 631, 780, 933, 950, 951, 983, 1001, 1227, 1352, 1389, 1397, 1432, 1451, 1453, 1462, 1710, 1728, 1738, 1882, 1911, 1958, 2028, 2061, 2098, 2113], 'city_72': [524, 1668, 1855], 'city_73': [30, 132, 185, 295, 306, 310, 381, 481, 525, 552, 639, 755, 775, 840, 883, 1121, 1307, 1381, 1391, 1669, 1699, 1711, 2114], 'city_74': [170, 258, 316, 843, 935, 1089, 1291, 1555, 1632, 1661, 1809, 1829, 1891], 'city_75': [86, 95, 396, 401, 646, 814, 904, 928, 931, 967, 996, 1049, 1274, 1371, 1419, 1426, 1557, 1588, 1636, 1646, 1652, 1723, 1724, 1791, 1951, 2011, 2070, 2084, 2108, 2116], 'city_76': [57, 247, 1200, 1250, 1981], 'city_77': [418, 722, 785, 1022, 1700, 1980], 'city_78': [2032], 'city_79': [664], 'city_80': [480, 517, 849], 'city_82': [1014], 'city_83': [58, 159, 269, 787, 1043, 1082, 1639, 1758, 2002], 'city_84': [1950], 'city_89': [229, 503, 744, 1104, 1566], ...}

In [11]:

for name, group in grouped:
    print(name)
    print(group)
    print("----------------------------------------")

print("******************************************")
print(grouped.agg(np.mean))

city_1
      enrollee_id    city  city_development_index gender
730         26581  city_1                   0.847   Male  \
1764         2610  city_1                   0.847   Male

          relevent_experience enrolled_university education_level
730   Has relevent experience       no_enrollment        Graduate  \
1764  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size company_type last_new_job
730              STEM          5        50-99          NaN            2  \
1764             STEM        >20          NaN          NaN           >4

      training_hours
730               18
1764               9
----------------------------------------
city_10
      enrollee_id     city  city_development_index gender
294         27463  city_10                   0.895    NaN  \
533         31483  city_10                   0.895    NaN
627         11646  city_10                   0.895   Male
826         21283  city_10                   0.895   Male
1214        22045  city_10                   0.895   Male
1341        22870  city_10                   0.895   Male
1444        16955  city_10                   0.895   Male
1705        17924  city_10                   0.895   Male
1792        20064  city_10                   0.895    NaN
1808        30466  city_10                   0.895   Male
2045        22786  city_10                   0.895   Male

          relevent_experience enrolled_university education_level
294    No relevent experience       no_enrollment         Masters  \
533    No relevent experience       no_enrollment        Graduate
627   Has relevent experience       no_enrollment        Graduate
826   Has relevent experience       no_enrollment         Masters
1214  Has relevent experience       no_enrollment        Graduate
1341  Has relevent experience       no_enrollment        Graduate
1444  Has relevent experience    Full time course         Masters
1705   No relevent experience    Full time course         Masters
1792   No relevent experience    Full time course     High School
1808   No relevent experience    Full time course     High School
2045   No relevent experience    Part time course        Graduate

     major_discipline experience company_size         company_type
294              STEM        >20      100-500              Pvt Ltd  \
533              STEM         14    1000-4999              Pvt Ltd
627              STEM          8        10/49              Pvt Ltd
826              STEM          7          NaN                  NaN
1214             STEM        >20          NaN                  NaN
1341            Other          8        50-99  Early Stage Startup
1444             STEM        >20    1000-4999        Public Sector
1705             STEM        >20          NaN                  NaN
1792              NaN          3          NaN                  NaN
1808              NaN          4        10/49              Pvt Ltd
2045             STEM          4          NaN                  NaN

     last_new_job  training_hours
294             2              62
533           NaN              40
627             1              78
826            >4              33
1214           >4             280
1341            1              10
1444           >4              90
1705            1              44
1792        never              90
1808            1              89
2045            2              78
----------------------------------------
city_100
      enrollee_id      city  city_development_index  gender
79          22271  city_100                   0.887    Male  \
141         27439  city_100                   0.887    Male
365         19028  city_100                   0.887    Male
367         17898  city_100                   0.887    Male
486         23700  city_100                   0.887     NaN
521         31557  city_100                   0.887    Male
824         29383  city_100                   0.887    Male
875         23255  city_100                   0.887     NaN
1278         5381  city_100                   0.887    Male
1360        12374  city_100                   0.887    Male
1510        25292  city_100                   0.887     NaN
1605        29341  city_100                   0.887  Female
1734        25181  city_100                   0.887     NaN
1905        16828  city_100                   0.887    Male
1922        16798  city_100                   0.887     NaN
1947         6610  city_100                   0.887     NaN
1948        18569  city_100                   0.887    Male
1963        29886  city_100                   0.887    Male
1971        19744  city_100                   0.887    Male
2007        23403  city_100                   0.887     NaN
2126        31762  city_100                   0.887    Male

          relevent_experience enrolled_university education_level
79     No relevent experience    Full time course        Graduate  \
141   Has relevent experience    Part time course        Graduate
365    No relevent experience       no_enrollment         Masters
367    No relevent experience       no_enrollment  Primary School
486    No relevent experience    Full time course             Phd
521    No relevent experience       no_enrollment        Graduate
824    No relevent experience       no_enrollment        Graduate
875    No relevent experience    Full time course        Graduate
1278   No relevent experience       no_enrollment             NaN
1360  Has relevent experience       no_enrollment     High School
1510  Has relevent experience       no_enrollment             NaN
1605  Has relevent experience       no_enrollment        Graduate
1734  Has relevent experience       no_enrollment         Masters
1905  Has relevent experience    Full time course        Graduate
1922  Has relevent experience       no_enrollment         Masters
1947  Has relevent experience       no_enrollment     High School
1948  Has relevent experience       no_enrollment     High School
1963  Has relevent experience       no_enrollment        Graduate
1971  Has relevent experience       no_enrollment         Masters
2007   No relevent experience       no_enrollment         Masters
2126   No relevent experience       no_enrollment  Primary School

     major_discipline experience company_size    company_type last_new_job
79              Other         15          NaN             NaN            3  \
141              STEM         15          NaN             NaN            1
365              STEM          9          <10             NaN           >4
367               NaN          1          NaN             NaN        never
486              STEM        >20      500-999   Public Sector           >4
521        Humanities          1          NaN             NaN            1
824              STEM          9          NaN             NaN            1
875              STEM          5          NaN             NaN        never
1278              NaN          3          NaN             NaN          NaN
1360              NaN         16          NaN             NaN            1
1510              NaN          1    5000-9999         Pvt Ltd        never
1605             STEM         17      100-500         Pvt Ltd           >4
1734             STEM        NaN        10/49  Funded Startup            3
1905             STEM         10          NaN             NaN            2
1922             STEM        >20        50-99         Pvt Ltd            1
1947              NaN        >20        10/49         Pvt Ltd            2
1948              NaN          4      100-500         Pvt Ltd            1
1963         No Major         11          NaN             NaN            1
1971             STEM         14      100-500         Pvt Ltd            4
2007       Humanities          4          NaN             NaN            3
2126              NaN          3          NaN         Pvt Ltd        never

      training_hours
79                77
141               61
365               20
367              288
486              106
521               15
824               78
875               54
1278              44
1360              36
1510              48
1605               9
1734               4
1905              16
1922              81
1947              37
1948              51
1963               9
1971             144
2007               9
2126              18
----------------------------------------
city_101
      enrollee_id      city  city_development_index  gender
93           8488  city_101                   0.558    Male  \
267         13274  city_101                   0.558    Male
581          5243  city_101                   0.558     NaN
693         10579  city_101                   0.558     NaN
786          5368  city_101                   0.558  Female
1387        18581  city_101                   0.558    Male
1542        24238  city_101                   0.558     NaN
2013        17426  city_101                   0.558    Male
2037         5171  city_101                   0.558    Male
2046        21335  city_101                   0.558    Male

          relevent_experience enrolled_university education_level
93    Has relevent experience    Part time course         Masters  \
267   Has relevent experience       no_enrollment     High School
581   Has relevent experience       no_enrollment        Graduate
693   Has relevent experience    Full time course        Graduate
786   Has relevent experience                 NaN        Graduate
1387  Has relevent experience       no_enrollment         Masters
1542  Has relevent experience    Full time course        Graduate
2013  Has relevent experience       no_enrollment        Graduate
2037  Has relevent experience       no_enrollment        Graduate
2046  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size         company_type
93               STEM          3          NaN                  NaN  \
267               NaN          3          NaN                  NaN
581              STEM          6        10/49              Pvt Ltd
693              STEM          5      500-999              Pvt Ltd
786              STEM          7        50-99              Pvt Ltd
1387             STEM         15      100-500              Pvt Ltd
1542             STEM          3          <10  Early Stage Startup
2013             STEM          5      100-500              Pvt Ltd
2037             STEM          5          NaN                  NaN
2046             STEM          2        50-99                Other

     last_new_job  training_hours
93              2             258
267         never              14
581            >4              12
693           NaN             118
786             1              15
1387            4              20
1542            1               9
2013            2              80
2037            1             132
2046            2              31
----------------------------------------
city_102
      enrollee_id      city  city_development_index gender
275          2851  city_102                   0.804   Male  \
297         25415  city_102                   0.804   Male
298          9894  city_102                   0.804   Male
340         15564  city_102                   0.804   Male
439         29018  city_102                   0.804   Male
445         16705  city_102                   0.804   Male
545         30367  city_102                   0.804   Male
638         26769  city_102                   0.804    NaN
644         23739  city_102                   0.804   Male
699          3218  city_102                   0.804   Male
865         14658  city_102                   0.804   Male
980         18316  city_102                   0.804    NaN
997          2018  city_102                   0.804   Male
1019         5484  city_102                   0.804   Male
1159        10829  city_102                   0.804    NaN
1168        23084  city_102                   0.804   Male
1421        29417  city_102                   0.804   Male
1438        17952  city_102                   0.804   Male
1492        22320  city_102                   0.804   Male
1495        25097  city_102                   0.804   Male
1499        17194  city_102                   0.804   Male
1536         5266  city_102                   0.804   Male
1561        16082  city_102                   0.804   Male
1564        14515  city_102                   0.804   Male
1677         7347  city_102                   0.804   Male
1736        17920  city_102                   0.804   Male
1828        16164  city_102                   0.804   Male
1853        25106  city_102                   0.804   Male
2127         7873  city_102                   0.804   Male
2128        12215  city_102                   0.804   Male

          relevent_experience enrolled_university education_level
275   Has relevent experience       no_enrollment        Graduate  \
297   Has relevent experience    Part time course        Graduate
298   Has relevent experience       no_enrollment        Graduate
340    No relevent experience       no_enrollment        Graduate
439   Has relevent experience       no_enrollment        Graduate
445   Has relevent experience       no_enrollment        Graduate
545    No relevent experience       no_enrollment         Masters
638    No relevent experience    Full time course        Graduate
644   Has relevent experience       no_enrollment         Masters
699   Has relevent experience       no_enrollment        Graduate
865   Has relevent experience       no_enrollment         Masters
980    No relevent experience    Part time course        Graduate
997    No relevent experience       no_enrollment         Masters
1019  Has relevent experience       no_enrollment         Masters
1159  Has relevent experience    Full time course        Graduate
1168  Has relevent experience       no_enrollment         Masters
1421  Has relevent experience       no_enrollment  Primary School
1438   No relevent experience       no_enrollment             NaN
1492  Has relevent experience       no_enrollment        Graduate
1495   No relevent experience    Full time course        Graduate
1499  Has relevent experience       no_enrollment         Masters
1536  Has relevent experience    Part time course        Graduate
1561  Has relevent experience       no_enrollment             NaN
1564  Has relevent experience       no_enrollment         Masters
1677   No relevent experience       no_enrollment         Masters
1736  Has relevent experience       no_enrollment         Masters
1828  Has relevent experience       no_enrollment        Graduate
1853  Has relevent experience       no_enrollment         Masters
2127  Has relevent experience    Full time course     High School
2128  Has relevent experience       no_enrollment         Masters

     major_discipline experience company_size         company_type
275              STEM          6        10/49              Pvt Ltd  \
297              STEM        >20          NaN                  NaN
298        Humanities          3          <10              Pvt Ltd
340              STEM         14      100-500              Pvt Ltd
439              STEM         13        10/49                  NaN
445              STEM          6        50-99              Pvt Ltd
545              STEM         16          NaN                  NaN
638              STEM          4          NaN                  NaN
644              STEM         11          NaN                  NaN
699              STEM         16      100-500              Pvt Ltd
865              STEM         17        10/49              Pvt Ltd
980              STEM          2          NaN                  NaN
997              STEM          5      500-999              Pvt Ltd
1019             STEM        >20    1000-4999              Pvt Ltd
1159             STEM         10      100-500              Pvt Ltd
1168             STEM         14      100-500              Pvt Ltd
1421              NaN        >20          <10  Early Stage Startup
1438              NaN          3          NaN                  NaN
1492             STEM        >20      500-999              Pvt Ltd
1495             STEM          8          NaN                  NaN
1499             STEM         11        50-99              Pvt Ltd
1536             STEM         13        50-99              Pvt Ltd
1561              NaN          8    1000-4999              Pvt Ltd
1564             STEM        >20       10000+              Pvt Ltd
1677             STEM         <1    5000-9999              Pvt Ltd
1736             STEM          5      100-500              Pvt Ltd
1828             STEM         13    1000-4999              Pvt Ltd
1853             STEM        >20        50-99              Pvt Ltd
2127              NaN          7      100-500        Public Sector
2128             STEM         15       10000+              Pvt Ltd

     last_new_job  training_hours
275             4              18
297             1              24
298             1              23
340             2              15
439            >4              73
445             2             226
545             2              66
638         never              94
644             2              58
699             1              33
865            >4              34
980             2              11
997             1              18
1019            3              12
1159            1             192
1168            3              90
1421            1               3
1438        never              21
1492           >4              70
1495           >4              14
1499            1              61
1536            1              12
1561           >4             152
1564            2              10
1677            1              75
1736            2              69
1828            3             144
1853           >4              11
2127            1              84
2128            2              11
----------------------------------------
city_103
      enrollee_id      city  city_development_index  gender
1            9858  city_103                    0.92  Female  \
4           27724  city_103                    0.92    Male
10          10856  city_103                    0.92    Male
14          14070  city_103                    0.92     NaN
20          15359  city_103                    0.92     NaN
...           ...       ...                     ...     ...
2102        23606  city_103                    0.92     NaN
2103         7522  city_103                    0.92     NaN
2104        15293  city_103                    0.92    Male
2106        19218  city_103                    0.92    Male
2124         1289  city_103                    0.92    Male

          relevent_experience enrolled_university education_level
1     Has relevent experience       no_enrollment        Graduate  \
4     Has relevent experience       no_enrollment        Graduate
10    Has relevent experience       no_enrollment         Masters
14     No relevent experience       no_enrollment        Graduate
20     No relevent experience    Full time course        Graduate
...                       ...                 ...             ...
2102   No relevent experience    Full time course     High School
2103   No relevent experience       no_enrollment        Graduate
2104   No relevent experience    Full time course        Graduate
2106  Has relevent experience       no_enrollment         Masters
2124   No relevent experience       no_enrollment        Graduate

     major_discipline experience company_size   company_type last_new_job
1                STEM          5          NaN        Pvt Ltd            1  \
4                STEM        >20       10000+        Pvt Ltd           >4
10              Other        >20          NaN            NaN           >4
14               STEM          5          NaN            NaN        never

TypeError: Could not convert MaleMale to numeric

In [ ]:
for name, enrollee_id in grouped:
    print(name)
    print(enrollee_id)

In [ ]:

test_df = pd.read_csv('test.csv')
group_ce = test_df.groupby(['city'])['enrollee_id'].count()
print(group_ce)

In [ ]:
test_df = pd.read_csv('test.csv')
group_ce = test_df.groupby(['city'])
group_ce.agg('count')

In [ ]:
test_df = pd.read_csv('test.csv')
group_ce = test_df.groupby(['city']).count()
print(group_ce)

In [ ]:
group_cs = test_df.groupby(['city']).size()
print(group_cs)

In [ ]:
grouped3 = test_df.groupby('gender')
print(grouped3.agg('size'))

In [ ]:
print(grouped3.agg('count'))

In [ ]:
grouped3 = test_df.groupby('gender')
for x, group in grouped3:
    print(x)
    print(group)

print(grouped3['city_development_index'].aggregate([np.min, np.max]))