In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('test.csv', index_col="city", nrows=10)
print(df)

df1 = pd.read_csv('test.csv', usecols=[1,2,3], nrows=10)
print(df1)

df2 = pd.read_csv('test.csv', usecols=['city'], nrows=10)
print(df2)

f = lambda x : int(x) + 1
df3 = pd.read_csv("test.csv", converters={"training_hours":f}, nrows=10)
print(df3)
print("----------------------------------------")

test_df = pd.read_csv('test.csv')
print(test_df.groupby('gender').groups)
print("----------------------------------------")

print(test_df.groupby(['city','gender']).groups)
print("----------------------------------------")

grouped = test_df.groupby('city')

for name, group in grouped:
    print(name)
    print(group)
    print("----------------------------------------")

grouped2 = test_df.groupby(['city','gender'])

for x in grouped2:
    print(x)
    print("!!!!!!!!!!!!!!!!!!!!!!!!!!!!\n")

print("******************************************")
print(grouped.agg(np.mean))

grouped3 = test_df.groupby('gender')
print(grouped3.groups)

#print(grouped3.transform(score))

 Female

         relevent_experience enrolled_university education_level  \
480  Has relevent experience       no_enrollment        Graduate

    major_discipline experience company_size company_type last_new_job  \
480             STEM          5      100-500      Pvt Ltd            1

     training_hours
480              99  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_80', 'Male'),      enrollee_id     city  city_development_index gender  \
517        31464  city_80                   0.847   Male
849        14182  city_80                   0.847   Male

        relevent_experience enrolled_university education_level  \
517  No relevent experience       no_enrollment  Primary School
849  No relevent experience    Full time course        Graduate

    major_discipline experience company_size company_type last_new_job  \
517              NaN          3          NaN          NaN        never
849             STEM          5          NaN          NaN            1

     training_hours
517              43
849              30  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_82', 'Female'),       enrollee_id     city  city_development_index  gender  \
1014        10809  city_82                   0.693  Female

          relevent_experience enrolled_university education_level  \
1014  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size company_type last_new_job  \
1014             STEM          6    1000-4999      Pvt Ltd            3

      training_hours
1014             216  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_83', 'Male'),       enrollee_id     city  city_development_index gender  \
58           9766  city_83                   0.923   Male
787         27693  city_83                   0.923   Male
1043        32259  city_83                   0.923   Male
1082        18101  city_83                   0.923   Male
1758        16614  city_83                   0.923   Male
2002         4879  city_83                   0.923   Male

          relevent_experience enrolled_university education_level  \
58    Has relevent experience       no_enrollment        Graduate
787   Has relevent experience       no_enrollment        Graduate
1043  Has relevent experience       no_enrollment        Graduate
1082   No relevent experience    Full time course     High School
1758  Has relevent experience    Full time course        Graduate
2002  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size company_type last_new_job  \
58               STEM          5    1000-4999      Pvt Ltd            2
787              STEM         18      100-500      Pvt Ltd           >4
1043             STEM         15        50-99      Pvt Ltd            1
1082              NaN          6          NaN          NaN            1
1758             STEM          9       10000+          NaN            1
2002             STEM        >20        50-99      Pvt Ltd           >4

      training_hours
58                14
787               50
1043             144
1082              29
1758             212
2002              52  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_84', 'Male'),       enrollee_id     city  city_development_index gender  \
1950        21469  city_84                   0.698   Male

          relevent_experience enrolled_university education_level  \
1950  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size company_type last_new_job  \
1950             STEM          5      100-500      Pvt Ltd            1

      training_hours
1950             248  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_89', 'Female'),      enrollee_id     city  city_development_index  gender  \
229        26289  city_89                   0.925  Female

         relevent_experience enrolled_university education_level  \
229  Has relevent experience       no_enrollment        Graduate

    major_discipline experience company_size company_type last_new_job  \
229       Humanities          3          <10      Pvt Ltd            2

     training_hours
229              12  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_89', 'Male'),      enrollee_id     city  city_development_index gender  \
503        16203  city_89                   0.925   Male

         relevent_experience enrolled_university education_level  \
503  Has relevent experience       no_enrollment        Graduate

    major_discipline experience company_size company_type last_new_job  \
503             STEM          9          NaN      Pvt Ltd            1

     training_hours
503              67  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_9', 'Male'),       enrollee_id    city  city_development_index gender  \
685         19102  city_9                   0.743   Male
1013         1172  city_9                   0.743   Male
1830         2900  city_9                   0.743   Male

          relevent_experience enrolled_university education_level  \
685   Has relevent experience    Full time course             NaN
1013   No relevent experience       no_enrollment        Graduate
1830  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size    company_type last_new_job  \
685               NaN         19        10/49  Funded Startup            2
1013       Humanities          1          NaN             NaN            1
1830             STEM         10      100-500             NGO           >4

      training_hours
685              128
1013              48
1830              17  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_90', 'Male'),       enrollee_id     city  city_development_index gender  \
11           9272  city_90                   0.698   Male
49          20768  city_90                   0.698   Male
69          21052  city_90                   0.698   Male
151         27117  city_90                   0.698   Male
184         24202  city_90                   0.698   Male
305         28936  city_90                   0.698   Male
432         15593  city_90                   0.698   Male
514         22366  city_90                   0.698   Male
548          4709  city_90                   0.698   Male
794         12064  city_90                   0.698   Male
828          5624  city_90                   0.698   Male
903          6837  city_90                   0.698   Male
968          4957  city_90                   0.698   Male
1064        13726  city_90                   0.698   Male
1770        16560  city_90                   0.698   Male
1876        18100  city_90                   0.698   Male
1984        19473  city_90                   0.698   Male

          relevent_experience enrolled_university education_level  \
11    Has relevent experience       no_enrollment        Graduate
49     No relevent experience    Full time course     High School
69    Has relevent experience       no_enrollment        Graduate
151    No relevent experience    Full time course        Graduate
184   Has relevent experience       no_enrollment        Graduate
305   Has relevent experience       no_enrollment        Graduate
432   Has relevent experience       no_enrollment        Graduate
514   Has relevent experience    Part time course         Masters
548    No relevent experience       no_enrollment  Primary School
794   Has relevent experience    Full time course        Graduate
828   Has relevent experience       no_enrollment        Graduate
903    No relevent experience    Full time course             NaN
968   Has relevent experience       no_enrollment        Graduate
1064   No relevent experience       no_enrollment        Graduate
1770   No relevent experience       no_enrollment        Graduate
1876   No relevent experience    Full time course        Graduate
1984  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size    company_type last_new_job  \
11               STEM         20        10/49         Pvt Ltd            2
49                NaN          2          NaN             NaN        never
69               STEM          2          NaN             NaN        never
151              STEM         <1          NaN             NaN        never
184              STEM          7          NaN             NaN            1
305              STEM         12          <10             NaN          NaN
432              STEM         14          NaN             NaN            1
514              STEM         13        50-99  Funded Startup            1
548               NaN          2          NaN             NaN        never
794              STEM          7          NaN             NaN            1
828              STEM        >20        50-99         Pvt Ltd            2
903               NaN          6          NaN             NaN            4
968              STEM         12          <10         Pvt Ltd            3
1064             STEM         13          <10             NaN            2
1770             STEM         <1          NaN             NaN            1
1876             STEM          5        10/49             NGO            1
1984             STEM          5      500-999   Public Sector            2

      training_hours
11                51
49                87
69                 9
151                8
184                9
305               52
432               58
514               10
548               88
794              105
828               88
903               37
968               20
1064             105
1770              48
1876             218
1984               8  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_91', 'Male'),       enrollee_id     city  city_development_index gender  \
665         20235  city_91                   0.691   Male
1118         4832  city_91                   0.691   Male

          relevent_experience enrolled_university education_level  \
665   Has relevent experience       no_enrollment     High School
1118  Has relevent experience    Part time course        Graduate

     major_discipline experience company_size    company_type last_new_job  \
665               NaN         17        50-99  Funded Startup            1
1118             STEM          4        50-99  Funded Startup            1

      training_hours
665                9
1118              48  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_93', 'Male'),       enrollee_id     city  city_development_index gender  \
1233        26068  city_93                   0.865   Male

          relevent_experience enrolled_university education_level  \
1233  Has relevent experience    Full time course        Graduate

     major_discipline experience company_size company_type last_new_job  \
1233             STEM          6       10000+      Pvt Ltd           >4

      training_hours
1233             218  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_94', 'Male'),       enrollee_id     city  city_development_index gender  \
1549        27386  city_94                   0.698   Male
1703        29031  city_94                   0.698   Male
1820        21788  city_94                   0.698   Male

          relevent_experience enrolled_university education_level  \
1549   No relevent experience       no_enrollment     High School
1703  Has relevent experience    Part time course        Graduate
1820   No relevent experience       no_enrollment        Graduate

     major_discipline experience company_size    company_type last_new_job  \
1549              NaN         16          NaN             NaN        never
1703             STEM          6          NaN             NaN            1
1820             STEM         11        10/49  Funded Startup            1

      training_hours
1549             117
1703             162
1820              51  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_97', 'Male'),       enrollee_id     city  city_development_index gender  \
60          19625  city_97                   0.925   Male
332         15910  city_97                   0.925   Male
1143        15763  city_97                   0.925   Male
1923        27389  city_97                   0.925   Male
2053        19816  city_97                   0.925   Male

          relevent_experience enrolled_university education_level  \
60    Has relevent experience       no_enrollment     High School
332   Has relevent experience       no_enrollment        Graduate
1143  Has relevent experience       no_enrollment        Graduate
1923  Has relevent experience       no_enrollment        Graduate
2053   No relevent experience    Part time course     High School

     major_discipline experience company_size company_type last_new_job  \
60                NaN          7        50-99      Pvt Ltd            1
332              STEM         15    1000-4999      Pvt Ltd            1
1143             STEM         16      500-999      Pvt Ltd            1
1923             STEM         16    1000-4999      Pvt Ltd           >4
2053              NaN          2      500-999      Pvt Ltd            1

      training_hours
60                31
332               41
1143              24
1923               6
2053              14  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_98', 'Male'),       enrollee_id     city  city_development_index gender  \
231         33062  city_98                   0.949   Male
628          6058  city_98                   0.949   Male
747         32369  city_98                   0.949   Male
964           560  city_98                   0.949   Male
1004        23133  city_98                   0.949   Male
1175         4166  city_98                   0.949   Male
1475          288  city_98                   0.949   Male

          relevent_experience enrolled_university education_level  \
231   Has relevent experience       no_enrollment        Graduate
628   Has relevent experience       no_enrollment         Masters
747   Has relevent experience       no_enrollment        Graduate
964   Has relevent experience       no_enrollment        Graduate
1004  Has relevent experience       no_enrollment     High School
1175  Has relevent experience       no_enrollment         Masters
1475  Has relevent experience       no_enrollment        Graduate

     major_discipline experience company_size         company_type  \
231              STEM          9          <10  Early Stage Startup
628              STEM         15        50-99                  NaN
747              STEM         11        50-99              Pvt Ltd
964              STEM        >20    5000-9999              Pvt Ltd
1004              NaN          4          <10              Pvt Ltd
1175             STEM        >20      100-500              Pvt Ltd
1475             STEM         15        50-99              Pvt Ltd

     last_new_job  training_hours
231             1             174
628             2             102
747             1              83
964            >4              29
1004            1              17
1175           >4             105
1475           >4               8  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_99', 'Female'),       enrollee_id     city  city_development_index  gender  \
1358         5509  city_99                   0.915  Female
1811        22342  city_99                   0.915  Female

          relevent_experience enrolled_university education_level  \
1358  Has relevent experience       no_enrollment         Masters
1811   No relevent experience    Full time course        Graduate

     major_discipline experience company_size company_type last_new_job  \
1358             STEM        >20      100-500      Pvt Ltd            1
1811             STEM          5        10/49      Pvt Ltd            1

      training_hours
1358              29
1811              21  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

(('city_99', 'Male'),       enrollee_id     city  city_development_index gender  \
563         33052  city_99                   0.915   Male
778         31333  city_99                   0.915   Male
900         19494  city_99                   0.915   Male
911         25866  city_99                   0.915   Male
1379        29159  city_99                   0.915   Male
1942        28220  city_99                   0.915   Male

          relevent_experience enrolled_university education_level  \
563   Has relevent experience       no_enrollment        Graduate
778   Has relevent experience       no_enrollment        Graduate
900   Has relevent experience       no_enrollment        Graduate
911   Has relevent experience       no_enrollment        Graduate
1379  Has relevent experience       no_enrollment        Graduate
1942   No relevent experience       no_enrollment        Graduate

     major_discipline experience company_size company_type last_new_job  \
563              STEM         15      100-500      Pvt Ltd            1
778              STEM        >20        50-99      Pvt Ltd           >4
900              STEM        >20      500-999      Pvt Ltd           >4
911              STEM          7        10/49      Pvt Ltd           >4
1379             STEM        >20    1000-4999      Pvt Ltd           >4
1942             STEM        >20          <10      Pvt Ltd           >4

      training_hours
563               25
778              140
900               47
911                6
1379              40
1942              47  )
!!!!!!!!!!!!!!!!!!!!!!!!!!!!

******************************************
           enrollee_id  city_development_index  training_hours
city
city_1    14595.500000                   0.847       13.500000
city_10   22271.363636                   0.895       81.272727
city_100  21700.000000                   0.887       57.380952
city_101  12970.300000                   0.558       68.900000
city_102  16413.233333                   0.804       57.466667
...                ...                     ...             ...
city_93   26068.000000                   0.865      218.000000
city_94   26068.333333                   0.698      110.000000
city_97   20166.285714                   0.925       23.571429
city_98   15462.000000                   0.949       78.000000
city_99   18759.083333                   0.915       47.416667

[108 rows x 3 columns]
{'Female': [1, 7, 25, 41, 64, 96, 128, 134, 163, 190, 203, 206, 223, 224, 229, 257, 271, 286, 287, 292, 320, 334, 356, 361, 364, 376, 385, 400, 410, 416, 458, 461, 463, 478, 480, 481, 494, 518, 544, 570, 580, 625, 630, 635, 651, 659, 682, 697, 702, 734, 756, 786, 792, 800, 812, 842, 852, 897, 905, 924, 926, 940, 954, 958, 970, 1014, 1071, 1074, 1092, 1097, 1109, 1113, 1120, 1147, 1156, 1167, 1198, 1208, 1217, 1230, 1256, 1264, 1290, 1313, 1318, 1321, 1333, 1353, 1358, 1373, 1392, 1405, 1426, 1429, 1443, 1455, 1489, 1493, 1537, 1544, ...], 'Male': [0, 2, 3, 4, 5, 8, 9, 10, 11, 12, 16, 17, 19, 22, 23, 24, 26, 27, 31, 33, 34, 36, 37, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 57, 58, 60, 61, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 97, 101, 102, 103, 104, 105, 106, 108, 109, 110, 111, 115, 116, 118, 119, 121, 122, 123, 124, 131, 132, 133, 135, 138, 139, 140, 141, 142, 143, 145, 146, 147, ...], 'Other': [59, 247, 256, 353, 437, 454, 698, 711, 863, 1197, 1224, 1295, 1315, 1361, 1422, 1519, 1636, 1685, 1732, 1823, 2021, 2029, 2043, 2111]}