In [21]:
import pandas as pd

test_df = pd.read_csv("test.csv")
test_df[(~test_df['education_level'].isnull()) & (test_df['education_level'].str.match(r'\w+ \w+'))]

      enrollee_id      city  ...  last_new_job training_hours
2           31806   city_21  ...         never             15
49          20768   city_90  ...         never             87
55          16917  city_103  ...             1             48
60          19625   city_97  ...             1             31
73          16230  city_103  ...         never             84
...           ...       ...  ...           ...            ...
2119         8905   city_70  ...         never             55
2120         9772  city_114  ...         never             32
2123        21339   city_21  ...         never             56
2126        31762  city_100  ...         never             18
2127         7873  city_102  ...             1             84

[258 rows x 13 columns]