In [2]:
import pandas as pd
import numpy as np

test_df = pd.read_csv("test.csv")

print(test_df)

test_df.filter

      enrollee_id      city  city_development_index  gender  \
0           32403   city_41                   0.827    Male
1            9858  city_103                   0.920  Female
2           31806   city_21                   0.624    Male
3           27385   city_13                   0.827    Male
4           27724  city_103                   0.920    Male
...           ...       ...                     ...     ...
2124         1289  city_103                   0.920    Male
2125          195  city_136                   0.897    Male
2126        31762  city_100                   0.887    Male
2127         7873  city_102                   0.804    Male
2128        12215  city_102                   0.804    Male

          relevent_experience enrolled_university education_level  \
0     Has relevent experience    Full time course        Graduate
1     Has relevent experience       no_enrollment        Graduate
2      No relevent experience       no_enrollment     High School
3     Has relevent experience       no_enrollment         Masters
4     Has relevent experience       no_enrollment        Graduate
...                       ...                 ...             ...
2124   No relevent experience       no_enrollment        Graduate
2125  Has relevent experience       no_enrollment         Masters
2126   No relevent experience       no_enrollment  Primary School
2127  Has relevent experience    Full time course     High School
2128  Has relevent experience       no_enrollment         Masters

     major_discipline experience company_size   company_type last_new_job  \
0                STEM          9          <10            NaN            1
1                STEM          5          NaN        Pvt Ltd            1
2                 NaN         <1          NaN        Pvt Ltd        never
3                STEM         11        10/49        Pvt Ltd            1
4                STEM        >20       10000+        Pvt Ltd           >4
...               ...        ...          ...            ...          ...
2124       Humanities         16          NaN  Public Sector            4
2125             STEM         18          NaN            NaN            2
2126              NaN          3          NaN        Pvt Ltd        never
2127              NaN          7      100-500  Public Sector            1
2128             STEM         15       10000+        Pvt Ltd            2

      training_hours
0                 21
1                 98
2                 15
3                 39
4                 72
...              ...
2124              15
2125              30
2126              18
2127              84
2128              11

[2129 rows x 13 columns]